<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiencia profesional</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Internet Ads Assesor</h3>
                            <div class="time">agosto de 2015 – actualmente</div>
                        </div><!--//upper-row-->
                        <div class="company">Lionbridge Technologies, Inc.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Profesor de inglés</h3>
                            <div class="time">junio de 2010 – diciembre de 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Cuenta propia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> </p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Profesor de inglés</h3>
                            <div class="time">septiembre de 2013 – junio de 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Excmo. Ayuntamiento de Granátula de Calatrava, Ciudad Real</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->